head, body {
	background: #111; color: #999;
	margin: 0; padding: 0 0 16em;
	font-family: 'Roboto Mono', Menlo, monospace;
}

a {
	color: #fff;
	text-decoration: none;
}

table {
	margin: 0; padding: 0;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
	border-bottom: 1px solid #333;
}

td.Image {
	margin: 0; padding: 0;
	background: #111;
}

td.Image img {
	display: block;
	overflow: hidden;
	overflow-wrap: break-word;
	word-break: break-word;
}

td.Details {
	margin: 0; padding: .66em 1em 1em;
	background: #222;
	width: 100%;
	overflow-wrap: break-word;
	word-break: break-word;
}

td.Details br {
	display: none;
}

.When, .Name, .Place {
	font-style: normal;
}

.Name {
	display: block;
	padding: .2em 0;
	font-size: 125%;
}

.Source {
	font-size: 70%;
}

#Search {
	margin: 0; padding: 1em 0 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, .75);
}

.Picker {
	padding-bottom: 1em;
	display: flex;
	flex-direction: row;
}

.Picker .Pick {
	flex-grow: 1;
	text-align: center;
	font-size: min(4vw, 110%);
	border-right: 1px solid #333;
}

.Picker .Pick:last-child {
	border: 0;
}

.Active {
	color: #555;
}

#Query {
	display: none;
	margin: 0; padding: 0 1em 1em;
	border: 0;
	outline: none;
	background: transparent; color: #fff;
	width: 100%;
	font-family: 'Roboto Mono', Menlo, monospace;
	font-size: 110%;
	line-height: 150%;
}

#Disclaimer {
	padding: 2em;
	font-size: 80%;
	color: #555;
	text-align: center;
	line-height: 150%;
}

#Disclaimer a {
	color: #555;
	text-decoration: underline;
}
